<% if @user %>
  <div class="container">
    <h1>Welcome, <%= @user.handle %> </h1>



  <% @user.comments.each do |comment| %>
    <div class="well">

      <p class="text-muted">Added by <strong><%= comment.author.handle %></strong> on
        <%= comment.created_at %></p>

      <blockquote>
        <p><%= comment.content %></p>
      </blockquote>
    </div>
  <% end %>

    <a href="/users/profile/edit"><button>Manage Your Profile</button></a>
  </div>
<% else %>
  <div class="container">
    <h1>You're not signed in!</h1>
    <h4><a href="/users/login">Log In</a> or <a href="/register/new">Register</a></h4>
  </div>
<% end %>